/* CSS Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

/* Base styles */

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
  background: #3a3335;
  color: #fff;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 1rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

pre {
  font-family: monospace;
  font-size: 1.4rem;
  line-height: 1.6;
}

/* Form styles */

form {
  margin: 2rem 1rem;
}

input {
  outline: none;
  margin-bottom: 0.5rem;
}

input[type=text] {
  border: 2px solid #3a3335;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 25rem;
}

input[type=submit] {
  background: #d81e5b;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 10rem;
}

input[type=submit]:hover {
  background: #f0544f;
}

/* Results section */

#phone-result {
  background: #c6d8d3;
  margin: 0.25rem 1rem 2rem;
  overflow: auto;
  padding: 2rem;
}
